<div class="d-flex justify-content-center">
    <div class="col-lg-7">
      <table class="table table-striped table-hover text-center"> 
        <thead class="tabela__cabecalho">
          <th class="tabela__cabecalho__conteudo">Data</th>
          <th class="tabela__cabecalho__conteudo">Valor</th>
          <th class="tabela__cabecalho__conteudo">Destino</th>
        </thead>
<!-- Verifica se transferencias está definido e tem comprimento maior que zero -->
<tbody *ngIf="transferencias?.length! > 0; else listaVazia">
  <!-- Itera sobre as transferencias -->
  <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
    <td class="tabela__conteudo">{{transferencia.data | date: 'short'}}</td>
    <td class="tabela__conteudo">{{transferencia.valor}}</td>
    <td class="tabela__conteudo">{{transferencia.destino}}</td>
  </tr>
</tbody>

        
      </table>
      
      <ng-template #listaVazia>
        <p>Nenhuma operação cadastrada</p>
      
      </ng-template>
       



<!-- <div *ngFor="let transferencia of transferencias">
    <p>Data {{ transferencia?.data }}</p>
    <p>Valor: {{ transferencia?.valor }}</p>
    <p>Destino: {{ transferencia?.destino }}</p>
  </div> -->
  
  
  
  
